// 全局样式

// 所有UI组件
*[class*="UI-"]{
  // border: 1px solid red !important;
  // box-sizing: border-box !important;
}
// 所有UI组件-所有子元素
*[class*="UI-"] *{
  // border: 1px solid green !important;
  // box-sizing: border-box !important;
}
// 所有UI组件-子元素
*[class*="UI-"] *[class*="ui-"]{
  // border: 1px solid blue !important;
  // box-sizing: border-box !important;
}

// ------------------------- 公共属性 -------------------------

._cl-000 {color: #000}
._cl-f63f3f {color: #f63f3f !important}
._cl-0173fb {color: #0173fb}
._cl-3c3e45 {color: #3c3e45}
._bc-fff {background-color: #fff}
._bc-f63f3f {background-color: #f63f3f}
._bc-161618 {background-color: #161618}
._bc-f0f2f5 {background-color: #f0f2f5}
._bdc-f1f1f1 {border-color: #f1f1f1}

._pa {position: absolute}
._pr {position: relative}
._fl {float: left}
._fr {float: right}
._tl {text-align: left}
._tc {text-align: center}
._tr {text-align: right}
._nomg {margin: 0 !important}
._nopd {padding: 0 !important}
._nobd {border: 0px !important}

._patlw
  position absolute
  top 0
  left 0
  width 100%

/*强制不换行*/
._wn {white-space: nowrap}
/*盒子*/
._df {display: flex}
._dif {display: inline-flex}
/*内联盒子*/
._dif {display: inline-flex}
/*垂直方向*/
._fdc {flex-direction: column}
/*盒子水平自动宽度*/
._flexXauto {
  max-width 100%
  overflow-x auto
  flex 1
}
/*盒子垂直自动高度*/
._flexYauto {
  max-height 100%
  overflow-y auto
  flex 1
}
/*平均分布*/
._js {justify-content: space-around}
/*内容垂直对齐*/
._ac {align-items: center}
/*内容水平对齐*/
._jc {justify-content: center}
/*子元素水平对齐*/
._m0a {margin: 0 auto}

/*内容垂直分布居中*/
._dfjcsb{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/*内容垂直对齐*/
._dfac{
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

/*内容水平对齐*/
._dfjc{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

/*垂直水平居中*/
._dfacjc{
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/*垂直水平居中2*/
._dfacjcb{
  margin: auto
}

/*居底*/
._dfai{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

/*超出隐藏*/
._oh{
  overflow: hidden;
}
/*去掉文字省略号*/
._noRowHide{
  display: inline-block;
  overflow: visible;
  white-space: normal;
  text-overflow: clip;
}
/*文字一行省略号*/
._ownRowHide{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// ------------------------- 公共组件 -------------------------

// 公共组件-容器
._content
  margin 0 auto
  min-width 320px
  max-width 540px
  background-color #fff

// 公共组件-空行空格
._framebox{
  height: 10px;
}
._framebox-20{
  height: 20px;
}
._framebox-30{
  height: 30px;
}

// 公共组件-按钮
._button {
  // border-color: #b2b2b2;
  border-color: #ddd;
  background-color: #f8f8f8;
  color: #444;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  min-width: 22px;
  min-height: 42px;
  border-width: 1px;
  border-style: solid;
  // border-radius: 2px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  cursor: pointer; 
  overflow: hidden;
}
  ._button:hover {
    color: #444;
    text-decoration: none; }
  ._button:active{
    border-color: #ccc;
    background-color: #fafafa;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }

._buttonB
	cursor pointer
	color #666
	user-select none
	transition background-color 150ms, color 300ms
	&:hover
		color #000
		background-color rgba(0,0,0,0.13) !important
	&:active
		color #fff
		transition color 50ms
	


// 公共UI组件 - 表格
._UI-table
  margin 10px 0 16px
  // width 900px
  &>:first-child
    padding-right 10px
    text-align right
  &>:last-child
    padding-left 10px
  h2
    // color #777
  .ui-t-note
    color #999
    font-size 12px
    margin 0
  .ui-t-noteB
    color #FF0000
    font-size 12px
    margin 0
  canvas
    margin 0 auto
    background-color #bbb
    border 1px solid #aaa
.ui-t_title
  margin-top 60px
  margin-bottom 30px
  div
    border-bottom: 3px solid #ddd
  &>:first-child
    border none
  &>:last-child
    border none
  &:first-child
    margin-top 0




// 公共UI组件 - 遮罩
._UI-mask
  position absolute
  width 100%
  height 100%
  display flex
  background-color rgba(0,0,0,0.3)
  z-index 10
  .ui-m-box
    margin auto
    padding 20px
    width 400px
    border-radius 10px
    background-color #fff
    box-shadow: 0 0 15px rgba(0,0,0,0.4)
    p
      margin 10px 0
      text-align center
    .anticon
      margin 20px auto
      display block
      font-size 24px
    .ant-btn
      margin 0 auto
      display block




/*清除浮动*/
._clear{clear:both; height: 0; line-height: 0; font-size: 0}

// ------------------------- 公共方法 -------------------------


